body {
  background-image: url('./assets/images/background.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  z-index: -1;
  opacity: 20;
}
