/* Custom styles for the DatePicker */
  /* Style to darken the background when calendar is open */
  .react-datepicker__overlay {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  }
  
  /* Custom styles for the input group */
  .input-group {
    position: relative; /* Position the input group relatively */
    z-index: 1000; /* Ensure it's above the calendar */
  }
  