@import "fonts.css";

.nav {
    display: flex;
    background-color: #242424;
    color: #ffffff;
    height: 45px;
}

.nav-logo {
    font-family: "Sriracha", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: aquamarine;
}

.nav-menu {
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.nav-menu.active {
  transform: translateX(0);
}

nav ul li {
   list-style: none;
   font-size: 1.5rem;
}

.nav-menu ul li a {
    color: #ffffff;
    text-decoration: none;
}

.nav-toggle {
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .nav-menu {
        flex-basis: 100%;
        text-align: center;
        background-color: #111;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        display: none;
    }

    .nav-toggle {
        display: block;
    }

    .nav-menu.active {
        display: block;
    }

    .nav-menu ul li {
        margin-bottom: 10px;
    }
}
